body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.top-bar {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  padding: 8px 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.top-bar .logo {
  font-size: 19px;
  line-height: 2.5; 
  padding-left: 10px;
}

.top-bar .nav-bar {
  padding-right: 50px;
  display: block;
  gap: 15px;
}

.top-bar .nav-bar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.top-bar .nav-bar button:hover {
  text-decoration: underline;
}
